<div>
  <div>
    <h1>
      <%= @the_team.team_name %> Details
    </h1>

    <div>
      <div>
        <a href="/teams">
          Go back
        </a>
      </div>

      <div>
       <% session.fetch(:user_id) %>
      <% if session.fetch( :user_id) == 1  %>
        <a href="/delete_team/<%= @the_team.id %>">
          Delete team
        </a>
        <%else%>
         <% end %>
      </div>
    </div>

<hr>
<div>
  <div>
    <table class="content-table">
      <th>
        Team name
      </th>
      <th>
        Year
      </th>
      <th>
        Description
      </th>
      <th>
        Image
      </th>
      <th>
        Roster Size
      </th>
      <th>
        Games Won
      </th>
      <th>
        Games Lost
      </th>
      <% session.fetch(:user_id) %>
      <% if session.fetch( :user_id) == 1  %>
      <th>
        Created at
      </th>
      <th>
        Updated at
      </th>
      <%else%>
      <% end %>
      </tr>



      <tr>
      <td>
        <%= @the_team.team_name %>
      </td>


      <td>
        <%= @the_team.year %>
      </td>


      <td>
        <%= @the_team.description %>
      </td>


      <td>
        <img src="<%= @the_team.image %>" height=50 >
      </td>


      <td>
        <%= @the_team.players_count %>
      </td>


      <td>
        <%= @the_team.games_count %>
      </td>


      <td>
        <%= @the_team.games_lost_count %>
      </td>

      <% session.fetch(:user_id) %>
      <% if session.fetch( :user_id) == 1  %>
      
      <td>
        <%= time_ago_in_words(@the_team.created_at) %> ago
      </td>
      <td>
        <%= time_ago_in_words(@the_team.updated_at) %> ago
      </td>
      <%else%>
      <% end %>
    </tr>
    </table>
  </div>
</div>

<hr>

<hr>
<div>
<h2>Roster</h2>
  <div>
    <table class="content-table">
      <th>
        Player name
      </th>
      <th>
        PPG
      </th>
      <th>
        RPG
      </th>
      <th>
        APG
      </th>
      <th>
        SPG
      </th>
      

      <% @the_roster.each do |a_member| %>
      <tr>
      <td>
        <%= a_member.player_name %>
      </td>
      <td>
        <%= a_member.ppg %>
      </td>
      <td>
        <%= a_member.rpg %>
      </td>
      <td>
        <%= a_member.apg %>
      </td>
      <td>
        <%= a_member.spg %>
      </td>
      </tr>
      <% end %>
    </table>
  </div>
</div>

<hr>


<div>
  <div>
      <% session.fetch(:user_id) %>
      <% if session.fetch( :user_id) == 1  %>
    <h2>
      Edit team
    </h2>

    <form action="/modify_team/<%= @the_team.id %>"  method="post" >
      <div>
        <label for="team_name_box">
          Team name
        </label>

        <input type="text" id="team_name_box" name="query_team_name" value="<%= @the_team.team_name %>">
      </div>

      <div>
        <label for="year_box">
          Year
        </label>

        <input type="text" id="year_box" name="query_year" value="<%= @the_team.year %>">
      </div>

      <div>
        <label for="description_box">
          Description
        </label>

        <textarea id="description_box" name="query_description"><%= @the_team.description %></textarea>
      </div>

      <div>
        <label for="image_box">
          Image
        </label>

        <input type="text" id="image_box" name="query_image" value="<%= @the_team.image %>">
      </div>

      <%# <div>
        <label for="players_count_box">
          Players count
        </label>

        <input type="text" id="players_count_box" name="query_players_count" value="<%= @the_team.players_count %>
      <%# </div> %>

      <%# <div>
        <label for="games_count_box">
          Games count
        </label>

        <input type="text" id="games_count_box" name="query_games_count" value="<%= @the_team.games_count %>
      <%# </div> %>

      <%# <div>
        <label for="games_lost_count_box">
          Games lost count
        </label> %>

        <%# <input type="text" id="games_lost_count_box" name="query_games_lost_count" value="<%= @the_team.games_lost_count %>
      <%# </div> %>

      <button>
        Update team
      </button>
      <%else%>
      <% end %>
    </form>
  </div>
</div>

<hr>
