<div>
  <div>
    <h1>
      <%= @the_team.team_name %> Details
    </h1>

    <div>
      <div>
        <a href="/teams">
          Go back
        </a>
      </div>

      <div>
       <% session.fetch(:user_id) %>
      <% if session.fetch( :user_id) == nil  %>
      <%else%>
        <a href="/delete_team/<%= @the_team.id %>">
          Delete team
        </a>
         <% end %>
      </div>
    </div>

    <dl>
      <dt>
        Team name
      </dt>
      <dd>
        <%= @the_team.team_name %>
      </dd>

      <dt>
        Year
      </dt>
      <dd>
        <%= @the_team.year %>
      </dd>

      <dt>
        Description
      </dt>
      <dd>
        <%= @the_team.description %>
      </dd>

      <dt>
        Image
      </dt>
      <dd>
        <%= @the_team.image %>
      </dd>

      <dt>
        Players count
      </dt>
      <dd>
        <%= @the_team.players_count %>
      </dd>

      <dt>
        Games count
      </dt>
      <dd>
        <%= @the_team.games_count %>
      </dd>

      <dt>
        Games lost count
      </dt>
      <dd>
        <%= @the_team.games_lost_count %>
      </dd>

      <% session.fetch(:user_id) %>
      <% if session.fetch( :user_id) == nil  %>
      <%else%>
      <dt>
        Created at
      </dt>
      <dd>
        <%= time_ago_in_words(@the_team.created_at) %> ago
      </dd>

      <dt>
        Updated at
      </dt>
      <dd>
        <%= time_ago_in_words(@the_team.updated_at) %> ago
      </dd>
      <% end %>
    </dl>
  </div>
</div>

<hr>


<div>
  <div>
      <% session.fetch(:user_id) %>
      <% if session.fetch( :user_id) == nil  %>
      <%else%>
    <h2>
      Edit team
    </h2>

    <form action="/modify_team/<%= @the_team.id %>"  method="post" >
      <div>
        <label for="team_name_box">
          Team name
        </label>

        <input type="text" id="team_name_box" name="query_team_name" value="<%= @the_team.team_name %>">
      </div>

      <div>
        <label for="year_box">
          Year
        </label>

        <input type="text" id="year_box" name="query_year" value="<%= @the_team.year %>">
      </div>

      <div>
        <label for="description_box">
          Description
        </label>

        <textarea id="description_box" name="query_description"><%= @the_team.description %></textarea>
      </div>

      <div>
        <label for="image_box">
          Image
        </label>

        <input type="text" id="image_box" name="query_image" value="<%= @the_team.image %>">
      </div>

      <div>
        <label for="players_count_box">
          Players count
        </label>

        <input type="text" id="players_count_box" name="query_players_count" value="<%= @the_team.players_count %>">
      </div>

      <div>
        <label for="games_count_box">
          Games count
        </label>

        <input type="text" id="games_count_box" name="query_games_count" value="<%= @the_team.games_count %>">
      </div>

      <div>
        <label for="games_lost_count_box">
          Games lost count
        </label>

        <input type="text" id="games_lost_count_box" name="query_games_lost_count" value="<%= @the_team.games_lost_count %>">
      </div>

      <button>
        Update team
      </button>
      <% end %>
    </form>
  </div>
</div>

<hr>
