<div>
  <div>
    <h1>
      Player: <%= @the_player.player_name %>
    </h1>

    <div>
      <div>
        <a href="/players">
          Go back
        </a>
      </div>

      <% session.fetch(:user_id) %>
      <% if session.fetch( :user_id) == 1  %>
      <div>
        <a href="/delete_player/<%= @the_player.id %>">
          Delete player
        </a>
      </div>
    </div>
    <%else%>
    <% end %>

<hr>
<div>
  <div>
    <table class="content-table">
    <tr>
      <th>
        Player name
      </th>
      <th>
        Team
      </th>
      <th>
        Games Played
      </th>
      <th>
        PPG
      </th>
      <th>
        RPG
      </th>
      <th>
        APG
      </th>
      <th>
        SPG
      </th>
      <% if session.fetch( :user_id) == 1  %>
      <th>
        Created at
      </th>
      <th>
        Updated at
      </th>
      <%else%>
      <% end %>
      </tr>

      <tr>
      <td>
        <%= @the_player.player_name %>
      </td>

      <td>
        <%= @the_player.team.team_name %>
      </td>

      <td>
        <%= @the_player.player_stats_count %>
      </td>

      <td>
        <%= @the_player.ppg %>
      </td>

      <td>
        <%= @the_player.rpg %>
      </td>

      <td>
        <%= @the_player.apg %>
      </td>

      <td>
        <%= @the_player.spg %>
      </td>

      <% session.fetch(:user_id) %>
      <% if session.fetch( :user_id) == 1  %>
      <td>
        <%= time_ago_in_words(@the_player.created_at) %> ago
      </td>
      <td>
        <%= time_ago_in_words(@the_player.updated_at) %> ago
      </td>
      <%else%>
      <% end %>
    </tr>
    </table>
  </div>
</div>

<hr>


<div>
  <div>
      <% session.fetch(:user_id) %>
      <% if session.fetch( :user_id) == 1  %>
    <h2>
      Edit player
    </h2>

    <form action="/modify_player/<%= @the_player.id %>"  method="post" >
      <div>
        <label for="team_id_box">
          Team
        </label>

        <input type="text" id="team_id_box" name="query_team_id" value="<%= @the_player.team_id %>">
      </div>

      <div>
        <label for="player_name_box">
          Player name
        </label>

        <input type="text" id="player_name_box" name="query_player_name" value="<%= @the_player.player_name %>">
      </div>

      <%# <div>
        <label for="player_stats_count_box">
          Player stats count
        </label>

        <input type="text" id="player_stats_count_box" name="query_player_stats_count" value="<%= @the_player.player_stats_count %>
      <%# </div> %>

      <button>
        Update player
      </button>
    </form>
    <%else%>  
    <% end %>
  </div>
</div>



<hr>
